* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 14px;
  color: #333;
  font-family: "微软雅黑";
  width: 100%;
  height: 100%;
}
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: 0;
}
a {
  outline: none;
}
a:active {
  outline: none;
}
a:focus {
  outline: none;
}
input {
  outline: none;
  border: none;
}
input[type="text"] {
  padding-left: 8px;
}
input[type="password"] {
  padding-left: 8px;
}
input[type="submit"] {
  cursor: pointer;
}
label {
  cursor: pointer;
}
textarea {
  outline: none;
  padding-left: 8px;
}
button {
  outline: none;
}
img {
  border: none;
  vertical-align: middle;
}
ul,
ol,
dl {
  list-style: none;
}
p {
  line-height: 24px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ov {
  clear: both;
  overflow: hidden;
}
.mg{
  max-width: 1100px;
  display: block;
  margin: 0 auto;
}
.b_all{
  border: 1px solid #ccc;
}
.b_s{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.b_h{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
i{
  font-style: normal;
}
b{
  font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
.df{
  display: flex;
}
.df_h{
  display: flex;
  flex-direction: row;
}
.df_s{
  display: flex;
  flex-direction: column;
}
.df_hcen{
  align-items: center;
}
.df_scen{
  justify-content: center;
}
.df_allcen{
  align-items: center;
  justify-content: center;
}
.hidden{
  display: none;
}
.hidden2{
  position: fixed;
  left: 10000%;
  top: 100000%;
}
.hidden3{
  visibility: hidden;
}
#root{
  width: 100%;
  height: 100%;
}
.page{
  width: 100%;
  height: 100%;
}
.tr{
  text-align: right;
}
.tl{
  text-align: left;
}